@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&family=Monoton&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 78, 176);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.container{
    background-color: rgb(17, 57, 136);
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(8, 31, 78);
    margin: 5% 35%;
    padding: auto;
    border-radius: 10px;
}

.App{
    text-align: right;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-right: 30px;
    color: white;
    background-color: rgb(17, 57, 136);
}

first{
    font-size: 25px;
    padding: 10px;
    background-color: rgb(17, 57, 136);
}
second{
    font-size: 33px;
    background-color: rgb(17, 57, 136);
}



.keyboard{
    margin: 10px;
    padding: 10px;
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-column-gap: 18px;
   grid-row-gap: 10px;
   background-color: rgb(17, 57, 136);

}

.btn{
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    text-align:center;
    background-color: rgb(56, 183, 242);
    

}

.btn:first-child{
    grid-column:span 2;
    background-color: black;
    color: white;
}
.btn:last-child{
    grid-column: span 2;
    background-color: black;
    color: white;
}
.btn:nth-child(2){
    background-color: black;
    color: white;
}
.btn:nth-child(3){
    background-color: white;
    color: rgb(17, 57, 136);
}
.btn:nth-child(7){
    background-color: white;
    color: rgb(17, 57, 136);
}
.btn:nth-child(11){
    background-color: white;
    color: rgb(17, 57, 136);
}
.btn:nth-child(15){
    background-color: white;
    color: rgb(17, 57, 136);
}
.calculator {
    text-align: center;
    padding-top: 80px;
  }
  
  .animated-text {
    animation: floating 4s infinite ease-in-out;
    font-family:'Tilt Prism', cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
  }
  
  @keyframes floating {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @media screen and (max-width: 925px) {
    .container{
        
        margin: 5% 20%;
        
    }
  }
  @media screen and (max-width: 1241px) {
    .container{
        
        margin: 5% 25%;
        
    }
  }
  @media screen and (max-width: 711px) {
    .container{
        
        margin: 5% 15%;
        
    }
    .keyboard{
        
       grid-column-gap: 14px;
       grid-row-gap: 10px;
    
    
    }
  }
  